.bg-home {
  background-image: url("./Image/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 250vh;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: right;
  min-height: 100vh;
}
.h6 > {
  font-family: Arial, sans-serif;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section {
  position: absolute;
  top: 10%;
  left: 68%;
  transform: translateX(-50%);
  width: 240px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #e9d900;
  z-index: 2;
  transition: 1.5s;
}
section span:hover {
  background: rgb(0, 0, 0);
  transition: 0s;
}

section .signin {
  position: absolute;
  width: 370px; /* Chieu rong */
  height: 470px; /* Chieu cao */
  background: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}
section .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 {
  font-size: 2em;
  color: #000000;
  text-transform: uppercase;
}
section .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #fff6a5;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 40px;
  color: #000000;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #ffbb27;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #ffbb27;
}
.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a {
  color: #ffbb27;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2) {
  color: #ffbb27;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"] {
  background-color: #ffbb27;
  color: white; /* Màu chữ */
  padding: 5px; /* Kích thước của nút */
  border: none; /* Loại bỏ viền */
  border-radius: 100px; /* Bo tròn góc */
  text-align: center; /* Căn giữa chữ */
  text-decoration: none; /* Loại bỏ gạch chân khi hover */
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  font-size: 30px;
  cursor: pointer; /* Hiển thị icon con trỏ khi hover */
}
input[type="submit"]:active {
  opacity: 0.6;
}
@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  section span {
    width: calc(30vw - 5px);
    height: calc(30vw - 5px);
  }
}

.custom-button {
  background-color: #ffbb27;
  color: white; /* Màu chữ */
  padding: 12px 20px; /* Kích thước của nút */
  border: none; /* Loại bỏ viền */
  border-radius: 50px; /* Bo tròn góc */
  text-align: center; /* Căn giữa chữ */
  text-decoration: none; /* Loại bỏ gạch chân khi hover */
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  font-size: 30px;
  cursor: pointer; /* Hiển thị icon con trỏ khi hover */
  position: absolute;
  top: 80%;
  left: 93%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.fa {
  /* padding:  20px; */
  /* font-size: 30px; */
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 60%;
  justify-content: center;
  align-items: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  width: 40px; /* Chiều rộng mong muốn */
  height: 40px;
  border-radius: 70px;
  align-content: center;
}

.fa-google {
  background: #dd4b39;
  color: white;
  width: 40px; /* Chiều rộng mong muốn */
  height: 40px;
  align-content: center;
}

.fa-twitter {
  background: #55acee;
  color: white;
  width: 40px; /* Chiều rộng mong muốn */
  height: 40px;
  align-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute; /* Đặt vị trí tuyệt đối */
  top: -400%;
  left: 5%; /* Khoảng cách từ phía trên */
}

.flex-container > div {
  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 5px;
  font-size: 30px;
}

h5 {
  color: #a1a1a1;
  letter-spacing: 1%;
  text-align: center;
}
